/*
====== SEZIONE HEADER ======
*/

header {
    padding-left: 0%;
    padding-right: 0%;
}

header h1 {
    width: 100%;
    float: none;
    background-position: center;
    margin-bottom: 0em;
    padding-bottom: 0em;
    text-align: center;
}

header nav {
    width: 100%;
    margin-left: 0%;
    text-align: center;
    position: fixed;
    bottom: 0%;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--headerbgcolor);
}

header nav li {
    margin-bottom: 0.4em;
    flex: 1 0 50px;
}

#nav-desktop {
    display: none;
}

#nav-mobile {
    display: block;
}

/*
====== SEZIONE MAIN ======
*/

main div h1 {
    line-height: 1em;
    font-size: 3em;
}

#mobile-intro {
    display: block;
}

@media screen and (max-width: 330px) {
    main div h1 {
        font-size: 2.5em;
    }

    .prodotti {
        grid-template-columns: repeat(auto-fill, minmax(20ch,1fr));
    }
    
    .prodotti li img {
        height: 225px;
        width: 150px;
    }
}

/*
=========== SEZIONE CONTATTI ==============
*/

div.info{
    display: block;
    background-image: none;
}

dl{
    margin: 3em;
}

/*
=========== SEZIONE CHI SIAMO ==============
*/

section#presentation, #team{
    display: block;
}

#team li{
    /*padding: 1em;*/
    margin-top: 2em;
    font-size: 1.25em;
}

h1#title{
    font-size: 4em;
    padding-top: 1em;
    margin-bottom: 0em;
}

/*
=========== SEZIONE PRODOTTO ==============
*/

#product {
    display: block;
}

#title {
    margin: 20px 0;
    font-size: 1.5em;
}

#price {
    margin: 20px 0;
}

#description {
    margin: 20px 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

#specs dt, #specs dd {
    padding: 5px 10px;
}

#product ul {
    display: block;
    border: none;
}

#specs {
    display: block;
    text-align: center;
}

#specs dt{
    float: none;
}


/*
====== SEZIONE FOOTER ======
*/

footer {
    margin-bottom: 20%;
}