/*
====== SEZIONE PRODUCT ======
*/

#product, #productError {
    padding: 20px 7%;
    background-color: #fff;
    color: #000;
}

#product h2 {
    margin: 20px 0;
}

#product>h2 {
    text-align: center;
}

#product ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;
    border-bottom: #000 solid 3px;
}

#title {
    grid-column: 2;
    grid-row: 1;
}

#img {
    grid-column: 1;
    grid-row: 1 / 5;
    max-width: 340px;
    max-height: 510px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

#price {
    grid-column: 2;
    grid-row: 2;
    font-size: 2em;
}

#buy {
    grid-column: 2;
    grid-row: 4;
}

#button, #buttonDelete {
    padding: 0.8em 1em;
    background-color: var(--mainlinkbginv);
    color: var(--mainlinktxtinv);
    border: 0.3em;
    border-radius: 3em;
    text-decoration: underline;
    font-size: 1.2em;
}

#description {
    grid-column: 2;
    grid-row: 3;
}

#specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    max-width: 600px;
    border: #000 1px solid;
}

#specs dt, #specs dd {
    padding: 5px 10px;
}

#specs dt {
    font-weight: bold;
}

.spec1 {
    background-color: #fff;
}

.spec2 {
    background-color: rgb(206, 206, 206);
}