/*
====== SEZIONE MAIN ======
*/

main {
    margin-top: 2em;
    padding: 0em 3.5em;
    background-color: var(--headerbgcolor);
    color: var(--headertxtcolor);
}

main h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.prodotti {
    padding-top: 2em;
    list-style: none;
    /* FlexBox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prodotti li {
    padding: 1em;
    margin: 4px;
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%);
    /* FlexBox */
    flex: 0 1 25ch;
}

@media screen and (max-width: 685px) {
    .prodotti {
        justify-content: center;
    }
}

@supports (display: grid) {
    .prodotti {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
        grid-gap: 20px;
    }
}

.prodotti li img {
    display: block;
    max-height: 300px;
    max-width: 200px;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.prodotti li a:link {
    color: var(--menulinkcolor);
}

.prodotti li a:visited {
    color: var(--menuvisitedcolor);
}

#addNewGuitar {
    padding: 0.8em 1em 0.8em 2.2em;
    background-color: var(--mainlinkbginv);
    color: var(--mainlinktxtinv);
    border: 0.3em;
    border-radius: 3em;
    text-decoration: none;
    background-image: url('./images/add.svg');
    background-position: 3% 50%;
    background-size: 2em;
    background-repeat: no-repeat;
}