
/*orginale main*/
* {
    padding: 0em;
    margin: 0em;
}

:root {
    --headerbgcolor: #fff;
    --headertxtcolor: #000;
    --contentbgcolor: #000;
    --contenttxtcolor: #fff;
    --menulinkcolor: #000;
    --breadlinkcolor: #fff;
    --mainlinkbg: #fff;
    --mainlinktxt: #000;
    --mainlinkbginv: #000;
    --mainlinktxtinv: #fff;
    --visitedcolor: #7259ff;
}

html, body {
    font-size: 100%;
    font-family: "Futura", "Verdana", sans-serif;
    line-height: 1.5em;
}

a:visited {
    color: var(--visitedcolor);
}

.nav-help{
    position: absolute; 
    height: 1px; 
    width: 1px; 
    overflow: hidden; 
    clip: rect(1px, 1px, 1px, 1px);
}

/*
====== SEZIONE HEADER ======
*/

header {
    padding: 1.5em 3.5em 1.5em 3.5em;
    line-height: 3em;
    background-color: var(--headerbgcolor);
    color: var(--headertxtcolor);
}

header h1 {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-indent: -9999px;
    float: left;
    width: 20%;
    margin-right: 0em;
    font-family: "Times", sans-serif;
    font-size: 2.3em;
}

header nav {
    margin-left: 22%;
    text-align: right;
    font-size: 1.2em;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline;
    margin: 0.2em;
}

header nav a:link {
    color: var(--menulinkcolor);
}

header nav img {
    vertical-align: middle;
}

#nav-mobile {
    display: none;
}

/*
====== SEZIONE BREADCRUMB ======
*/

#breadcrumb {
    padding: 1em 3.5em 1em 3.5em;
    color: var(--contenttxtcolor);
    background-color: var(--contentbgcolor);
}

#breadcrumb a:link {
    color: var(--breadlinkcolor);
}

/*
====== SEZIONE MAIN ======
*/

main {
    background-color: var(--contentbgcolor);
    color: var(--contenttxtcolor);
}

main a { 
    color: var(--mainlinktxt);
}

main div {
    padding: 20vh 4vw;
    text-align: center;
}

main div h2 {
    padding-bottom: 1em;
    font-size: 4em;
}

.banner p {
    padding-bottom: 1.9em;
}

.banner a {
    padding: 0.8em 1em;
    background-color: var(--mainlinkbg);
    color: var(--mainlinktxt);
    border: 0.3em;
    border-radius: 3em;
}

.banner a:visited {
    color: var(--visitedcolor);
}

#mobile-intro {
    background-image: url("../images/guitar1.jpeg");
    display: none;
}

#banner1 {
    background-image: url("../images/6index.webp");
}

#banner2 {
    background-image: url("../images/7index.webp");
}

.banner {
    background-color: rgb(0,0,0,0.45);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    line-height: 3.5em;
}

.success {
    color: green;
    text-align: center;
    padding: 1em 0em;
    font-weight: bold;
    font-size: 1.2em;
}

.errors {
    color: red;
    text-align: center;
    padding: 1em 0em;
    font-weight: bold;
    font-size: 1.2em;
    list-style-type: none;
}

.messages {
    color: red;
}

.info {
    padding-top: 1.5em;
}

/*
====== SEZIONE FOOTER ======
*/

footer {
    padding: 2em;
    text-align: center;
}