main {
    background-color: white;
    color: black;
    text-align: center;
}

#title {
    grid-column: 4;
    text-align: center;
    padding: 1em;
    font-size: 4em;    
}

main div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "u t i"
                         "e o i";
    padding: 2em;
    align-items: center;
}

dl.uffici{
    grid-area: u;
    background: url("images/location_icon.svg") top no-repeat;
}

dt.uffici{
    padding-top: 3em;    
}

dl.telefono{
    grid-area: t;
    background: url("images/phone_icon.svg") top no-repeat;
}

dt.telefono{
    padding-top: 3em;

}

dl.email{
    grid-area: e;
    background: url("images/email_icon.svg") top no-repeat;   
}

dt.email{
    padding-top: 3em;    
}

dl.orario{
    grid-area: o;
    background: url("images/clock.svg") top no-repeat;
}

#titleorario{
    padding-top: 3em;
}

dt.orario{
    padding-top: 0em;
    float: left;
    width: 50%;
    /*padding-left: 4em;
    
    text-align: left;*/
}

img{
    grid-area: i;    
    height: 100%;
    width: 100%;
}

h2{
    margin-bottom: 0.5em;
}

dt{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.3em;  
    margin: auto;
}

dd{
    font-size: 1em;
    padding: 0.3em;
    margin: auto;    
}