/*
====== SEZIONE HEADER ======
*/

header h1 {
    width: 100%;
    float: none;
    background-position: center;
    margin-bottom: 0.5em;
    padding-bottom: 0em;
    text-align: center;
}

header nav {
    margin-left: 0%;
    text-align: center;
}

header nav li {
    display: block;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/*
====== SEZIONE MAIN ======
*/

@media screen and (max-width: 330px) {
    .prodotti {
        grid-template-columns: repeat(auto-fill, minmax(20ch,1fr));
    }
    
    .prodotti li {
        padding: 1em;
    }
    
    .prodotti li img {
        height: 225px;
        width: 150px;
    }
}