/*
====== SEZIONE HEADER ======
*/

header h1 {
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 0em;
    text-align: center;
}

header nav {
    margin-left: 0%;
    text-align: center;
}

header nav li {
    display: block;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/*
===== SEZIONE PRODUCT =====
*/

#product ul {
    display: block;
}

#title {
    margin: 20px 0;
    font-size: 1.5em;
}

#price {
    margin: 20px 0;
}

#description {
    margin: 20px 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

#specs {
    display: block;
    text-align: center;
}

#specs dt{
    float: none;
}

.specs1, .specs2{ /*non funziona*/
    background-color: white;
}